<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
.button {
  background-color: #4682B4; /* SteellBlue*/
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}



</style>

<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-blue-grey w3-wide w3-padding w3-card">
    <a href="#home" i class='fas fa-coffee' ><b>Mug me</b> :)</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">HOME</a>
      <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
      <a href="#contact" class="w3-bar-item w3-button">WORK</a>
      <a href="#contact" class="w3-bar-item w3-button">BLOG</a>
      <a href="#contact" class="w3-bar-item w3-button">CONTACT</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:2000px;" id="home">
  <img class="w3-image" src="https://i.pinimg.com/originals/fc/93/81/fc93814fab5dbfb3accc5df4bb3bda52.jpg" width="2000" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min w3-border"><b>MUG ME PLEASE</b></span> <span class="w3-hide-small w3-text-light-grey"></span></h1>
    <br>
    <br>
    <h1 class="w3-xlarge w3-text-white"><span class="w3-padding w3-grey w3-opacity-min"><b>LEARNING TO CODE</b></span> <span class="w3-hide-small w3-text-light-grey"></span></h1>
    <br>
    <br>
    <button class="button w3-border">PORTFOLIO OF MY MUGS</button>
  </div>
</header>




  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">

  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-center">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQYHRR-YK0vUdaUXxcPpbAQv3N4fNcZzxFwe-Ql54vkF_Wi7aNV&usqp=CAU" style="width:30%">
      <h3>SHOOT</h3>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-blue">SHARE</button></p>
    </div>
    <div class="w3-col l3 m6 w3-center">
      <img src="https://www.pinclipart.com/picdir/big/206-2061237_a-gallery-icon-png-circle-clipart.png" style="width:30%">
      <h3>PRINT</h3>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-blue">BLOG</button></p>
    </div>
    <div class="w3-col l3 m6 w3-center">
      <img src="https://lh3.googleusercontent.com/proxy/tUdF5JVQB5syKp3K6asyIg0g3DDUPZH16Nus6tRT7pzMtSElSTdwH735_JKVqcOhRYxq9fVC8urI_zfOl_hp1lxOaUdbVUq9gJpj10_2O2kkNUIOr2dWAO1wrGLBtTqgVA" style="width:30%">
      <h3>EDIT</h3>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-blue">ABOUT</button></p>
    </div>
    <div class="w3-col l3 m6 w3-center">
      <img src="https://oceanvillasyzer.com/wp-content/uploads/2017/06/check-1024x1024.png" style="width:30%">
      <h3>FINISH</h3>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-blue">CONTACT</button></p>
    </div>
  </div>
<br>



<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-center w3-padding-16" id="projects">
    <h3 class="w3-button w3-topbar w3-bottombar w3-border-grey w3-pale-grey w3-padding-16">MY MUGS</h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 s4 w3-center">
      <div class="w3-display-container">
        <img src="https://lh3.googleusercontent.com/proxy/f2QT7MsIMYv65GRHewyNbF9zTirqCRynmRFCwIOL_dyZZb0_aMxuRgf_J75GanPJwW3fGyy0Tzc8hRIGyFkra6lvDBzY6qcFiH-2DiDkFb1gweX10RkwjWpDCffI3g" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-center">
      <div class="w3-display-container">
        <img src="https://siol.net/media/img/2b/69/2a0ccaa81557e94a7c98-moscow-mule-koktajl.jpeg" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-center">
      <div class="w3-display-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSHJxO3MhDY9tpi1Y5mjWSPigt8sqbvLFW0xlPro9n-Lj-dQShd&usqp=CAU" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-center">
      <div class="w3-display-container">
        <img src="https://justagirlandherblog.com/wp-content/uploads/2015/12/Mugs-Detail-680x453.jpg" style="width:100%">
      </div>
    </div>
  </div>




<!-- End page content -->
  <br>
</div>




<div class="w3-container w3-center w3-blue-grey">
  <br>
  <p>Don't forget to subscribe. <button class="w3-button w3-border">CONTACT</button></p>
  <br>
</div>



<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <br>
  <a href="#home" i class='fas fa-coffee' ><b>Mug me</b> :)</a>
  <br>
  <i class="fab fa-facebook-f"></i>
  <i class="fab fa-instagram"></i>
  <i class="fab fa-youtube"></i>
  <i class="fab fa-github"></i>
  <i class="fab fa-twitter"></i>
  <i class="fab fa-linkedin"></i>
  <i class="fab fa-wordpress"></i>
  <p>Imaginarium 2020</p>
  <p>Powered by <a target="_blank" class="w3-hover-text-blue-grey">Ana B</a></p>
  <br>
</footer>


</body>
</html>